@use '../abstracts/colours' as *;
@use '../abstracts/breakpoints' as *;

.single-column-page {
    margin-top: 8px;
    padding-bottom: 80px;
    display: grid;
    grid-template-columns: repeat(4, minmax(0, 1fr));
    gap: 24px;
    
    & > h1 {
        background-color: $dark-point;
        color: $light-point;
        grid-column: 1/5;
        height: 96px;
        
        display: flex;
        align-items: center;
        padding-left: 24px;
    }

    & > h2 {
        grid-column: 1/5;
        display: grid;
        grid-template-columns: repeat(4, minmax(0, 1fr));
        gap: 24px;
        align-items: center;

        &:after {
            content: "";
            grid-column: 2/5;
            height: 24px;
            background-color: $dark-point;
        }

        @media (max-width: $breakpoint-tablet) {
            display: block;
            background-color: $dark-point;
            color: $light-point;
        }
    }
    
    & > h3 {
        grid-column: 1/5;
        display: grid;
        grid-template-columns: repeat(4, minmax(0, 1fr));
        gap: 24px;
        align-items: center;

        &:after {
            content: "";
            grid-column: 2/5;
            height: 16px;
            background-color: $dark-point;
        }

        @media (max-width: $breakpoint-tablet) {
            display: block;
            background-color: $dark-point;
            color: $light-point;
        }
    }

    & > p,
    & > pre {
        grid-column: 2/5;
    }

    & > table {
        grid-column: 2/5;
        border: solid 1px $dark-point;
        border-collapse: collapse;

        & th,
        & td {
            border: solid 1px $dark-point;
        }
    }

    & > ul {
        grid-column: 2/5;
        list-style: none;
        padding: 0;

        li::before {
            content: "– ";
        }
    }

    & > p + ul {
        margin-top: -24px;
    }

    & img {
        max-width: calc(50vw -  48px);

        @media (max-width: $breakpoint-tablet) {
            max-width: 100%;
        }
    }

    @media (max-width: $breakpoint-tablet) {
        display: flex;
        flex-direction: column;;
    }
}