---
import { getCollection } from 'astro:content';
import MainLayout from '../../layouts/MainLayout.astro';
import ProjectCard from '../../components/ProjectCard.astro';

const posts = await getCollection('career');
const sortedPosts = posts.sort((a, b) => b.data.order - a.data.order);
---

<MainLayout title="Mon parcours">
    <section class="single-column-page">
        <h1>Parcours</h1>
        {sortedPosts.map(content => (
            <ProjectCard type="career" content={content} /> 
        ))}
    </section>
</MainLayout>