---
import '../styles/main.scss';
import Head from '../components/Head.astro';

const { title } = Astro.props;
const currentYear = new Date().getFullYear();
---

<html lang="fr">
    <Head title={title} />
	<body>
    	<header class="header">
            <div class="header__brand">
                <a href="/" class="component__a--decoration-none">
                    <p class="header__name">sebaseg</p> 
                </a>
            </div>
            <div class="header__navbar">
                <a href="/" class="component__a--decoration-none">
                    <p>Concepteur Développeur</p>
                </a>
                <nav class="header__navbar--navlist">
                    <!-- <a href="/">Accueil</a> -->
                    <a href="/career">Carrière</a>
                    <a href="/projects">Projets</a>
                    <!-- <a href="/about">À propos</a> -->
                </nav>
            </div>
            <div class="component__stripes">
                <div class="component__stripes--size-1"></div>
                <div class="component__stripes--size-2"></div>
                <div class="component__stripes--size-3"></div>
                <div class="component__stripes--size-4"></div>
            </div>
        </header>

		<main>
            <slot />
        </main>

        <footer class="footer">
            <div class="component__stripes">
                <div class="component__stripes--size-1"></div>
                <div class="component__stripes--size-2"></div>
                <div class="component__stripes--size-3"></div>
                <div class="component__stripes--size-4"></div>
            </div>
            <div class="footer__content">
    		    <p>Conçu et Développé à Paris avec Astro</p>
    		    <p>
                    &copy;{currentYear} sebaseg | 
                    <a href={import.meta.env.PUBLIC_GITHUB_URL} target="_blank">GitHub</a> | 
                    <a href={import.meta.env.PUBLIC_LINKEDIN_URL} target="_blank">Linkedin</a>
                </p>
    		    <p><a href="/legal">Mentions légales</a> | <a href="/accessibility">Accessibilité : non conforme</a></p>
            </div>
		</footer>
	</body>
</html>