---
import MainLayout from "./MainLayout.astro";
const { frontmatter } = Astro.props;
---

<MainLayout title={frontmatter.title}>
    <section class="single-column-page">
        <h1>{frontmatter.title}</h1>
        <img src={frontmatter.img} alt={frontmatter.img_alt} />
        <slot />
    </section>
</MainLayout>