---

---

<html lang="fr">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<link rel="icon" href="/favicon.ico" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>sebaseg</title>
	</head>
	<body>
	    <header>
			<p>sebaseg</p>
			<p>Concepteur Développeur</p>
			<nav>
				<a href="/">Accueil</a>
				<a href="#">Parcours</a>
				<a href="#">Projets</a>
				<a href="#">À propos</a>
			</nav>
		</header>

		<main>
    		<h1>sebaseg</h1>
    		<h2>Présentation</h2>
    		<h2>Principaux projets</h2>
    		<h2>Carrière</h2>
		</main>

		<footer>
		    <p>Conçu et Développé à Paris avec Astro</p>
		    <p>©2026 sebaseg | <a href="#">GitHub</a> | <a href="#">Linkedin</a></p>
		    <p><a href="/legal">Mentions légales</a> | <a href="#">Accessibilité</a></p>
		</footer>
	</body>
</html>
