---
import { getCollection } from 'astro:content';
import MainLayout from '../../layouts/MainLayout.astro';

const posts = await getCollection('blog');
const sortedPosts = posts.sort((a, b) => b.data.publishDate.valueOf() - a.data.publishDate.valueOf());
---

<MainLayout title="Mon Blog">
  <h1>Blog</h1>
  <ul>
    {sortedPosts.map(post => (
      <li>
        <a href={`/blog/${post.id}`}>{post.data.title}</a>
      </li>
    ))}
  </ul>
</MainLayout>